* {
  padding: 0;
  margin: : 5px;
}
.calculator {
  width: 310px;
  height: 310px;
  background-color: #c0c0c0;
  box-shadow: 0px 0px 0px 6px black;
  border: 5px solid #999999;
  border-radius: 4px;
}
#display {
  width: 320px;
  height: 40px;
  text-align: left;
  background-color: white;
  border: 3px solid black;
  font-size: 18px;
  left: 2px;
  top: 2px;
  color: black;
}
.btnTop{
  color: white;
  background-color: #6f6f6f;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 4px;
}
.btnNum {
  color: white;
  background-color: black;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 4px;
}
.btnMath {
  color: white;
  background-color: #ff4561;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 4px;
}
.btnOpps {
  color: white;
  background-color: #ff9933;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
  border-radius: 4px;
}
